# Sales Performance Analysis Project

## Project Overview
This project analyzes retail sales data to uncover insights about:
- Sales trends and patterns
- Product performance
- Customer behavior
- Geographic distribution

## Dataset
- Source: Online Retail Dataset (UCI ML Repository)
- Sample: 25,000 transactions
- Columns: InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country

## Data Loading

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:

use_columns = ["InvoiceNo", "StockCode", "Description", "Quantity", "InvoiceDate", "UnitPrice", "CustomerID", "Country"]
sales = pd.read_excel("Online Retail.xlsx", usecols=use_columns, nrows=25_000)

In [9]:
sales.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [4]:
sales.tail(5)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
24995,538351,22078,RIBBON REEL LACE DESIGN,2,2010-12-10 15:17:00,4.81,NaN,United Kingdom
24996,538351,22080,RIBBON REEL POLKADOTS,1,2010-12-10 15:17:00,4.21,NaN,United Kingdom
24997,538351,22081,RIBBON REEL FLORA + FAUNA,1,2010-12-10 15:17:00,4.21,NaN,United Kingdom
24998,538351,22082,RIBBON REEL STRIPES DESIGN,3,2010-12-10 15:17:00,4.21,NaN,United Kingdom
24999,538351,22083,PAPER CHAIN KIT RETROSPOT,23,2010-12-10 15:17:00,6.77,NaN,United Kingdom

In [5]:
sales.shape

(25000, 8)

In [6]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   InvoiceNo    25000 non-null  object
 1   StockCode    25000 non-null  object
 2   Description  24889 non-null  object
 3   Quantity     25000 non-null  int64
 4   InvoiceDate  25000 non-null  datetime64[ns]
 5   UnitPrice    25000 non-null  float64
 6   CustomerID   16056 non-null  float64
 7   Country      25000 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 1.5+ MB

In [7]:
sales.describe()

           Quantity                 InvoiceDate     UnitPrice    CustomerID
count  25000.000000                       25000  25000.000000  16056.000000
mean       7.252680  2010-12-06 07:25:00.640800      7.108175  15572.953288
min    -9360.000000         2010-12-01 08:26:00      0.000000  12347.000000
25%        1.000000         2010-12-03 11:36:00      1.450000  14135.000000
50%        2.000000         2010-12-06 13:13:00      2.510000  15647.500000
75%        6.000000         2010-12-08 14:25:00      4.250000  17223.000000
max     2880.000000         2010-12-10 15:17:00  13541.330000  18269.000000
std       70.411142                         NaN    181.004981   1782.224395

## Unique Values Check

Check the number of unique entries in the 'Country' and 'StockCode' columns.  
This helps understand how many different countries and products are in the dataset.

In [8]:
sales["Country"].nunique(), sales["StockCode"].nunique()

(18, 2540)

## Initial Observations